    form {
        width: 450px;
        margin: 20px auto;
        padding: 20px;
        background-color: #f5abd0;
        border-radius: 8px;
    }

    label {
        display: block;
        margin-bottom: 12px;
        color: white;
        font-weight: bold;
    }

    input, select, textarea {
        width: 100%;
        padding: 6px;
        margin-top: 4px;
        background-color:  #eb83b7;
        color: white;
        border: 2px solid  #eb83b7;
        box-sizing: border-box;
    }

    option {
        background-color:  #eb83b7;
        color: white;
    }

    input[type="radio"] {
        width: auto;
        margin-right: 5px;
    }

    input[type="submit"],
    input[type="reset"] {
        background-color: #eb83b7;
        color: white;
        border: none;
        padding: 8px;
        margin-top: 10px;
        cursor: pointer;
    }

    input:focus, select:focus, textarea:focus {
        outline: none;
        border: 2px solid white;
        background-color: #ff4da6;
    }

    .invalid {
        border: 2px solid white;
        background-color: #ff1a8c;
    }